.navbar{
    display: flex;
    justify-content: center;
    background-color: royalblue;
}

.navbar > ul{
    display: flex;
    justify-content: space-between;
}

.body{
    box-sizing:border-box;
}

.navbar > ul > li{
    list-style-type: none;
    margin: 0 25px;
    font-family: sans-serif;
    color: white;
}
.navbar > ul > li > a{
    font-family: sans-serif;
    color: white;
    text-decoration: none;
}


.choosen-quiz-heading{
    display: flex;
    justify-content: center;
}

.answer{
    display: flex;
    background-color: rgb(202, 202, 224);
}

.answer > p{
    margin: 0;
}

.submit-button{
    display: flex;
    justify-content: center;
}